header {
    background-color :  pink;
    color : purple;
    text-align : center;
  }

  body {
      background-color: rgb(185, 179, 175)
  }

   nav li {
    display: inline-block;
  }

   nav {

     background-color :  rgb(185, 175, 183);
   }

   
  nav a {
      color: blue;
  }
  footer {
  background-color :  gray;
  color : white;
  text-align : center;
}
section {
  background-color : gold;
  color : white;
}
